html {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: Merriweather;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid;
  border-color: rgb(100, 100, 100);
}

h1 {
  text-align: center;
}

button {
  padding: 0.5rem;
  border-radius: 6px;
}

.controls {
  text-align: center;
}

.sliders {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

label {
  display: block;
  margin: 1em;
}